// === COLORS ===

// ===FONTS ===
$text-font: "Titillium Web", Arial, sans-serif;
$header-font: Oswald, Georgia, serif;   
// === SIZES ===
$content-width:    960px;
$header-height:    60px;
$footer-height:    80px;
